[user]
	name = Hoang-Long Nguyen
	email = long.nguyen23@gmail.com
	username = long.nguyen23
[init]
	defaultBranch = main
[core]
	editor = /usr/local/bin/nvim
[alias]
	lg = log --color --graph --pretty=\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	adog = log --all --decorate --oneline --graph
	b = branch -vv
	st = status --short
[push]
	autoSetupRemote = true
