[user]
	name = Tatsu
	email = 78641196+tatsupro@users.noreply.github.com
	username = tatsupro
[init]
	defaultBranch = main
[core]
	editor = /usr/local/bin/nvim
[alias]
	ll = log --color --graph --pretty=\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	adog = log --all --decorate --oneline --graph
	b = branch -vv
	st = status --short
	bc = "! git branch | grep -v \"master\" | xargs git branch -D"
[push]
	autoSetupRemote = true
